<!DOCTYPE html>
<html>
<head> 
		<title>Welcome</title>	
</head>
<body>
		<h1>This is the Welcome Page!</h1>
		<p>Some very basic content comming soon</p>
</body>
</html>

<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
